@model IEnumerable<Product>

<div class="row pb-3">
    @foreach (var product in @Model)
    {
        <div class="col-lg-3 col-md-6">
            <div class="row p-2">
                <div class="col-12 p-1" style="border-radius: 10px;">
                    <a asp-action="Details" asp-route-productId="@product.Id" class="text-decoration-none card">
                        <img src="@product.ImageUrl" class="card-img-top rounded" />
                        <div class="p-3 pt-1 pb-1 row">
                            <p class="card-title h5 text-primary">@product.Title</p>
                            <div class="col-6">
                                <b>$@product.Price.ToString("0.00")</b>
                            </div>
                            <div class="col-6 text-end">
                                <p class="card-title h6 text-info">@product.Category.Name</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    }
</div>