@{
    ViewData["Title"] = "Products";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Product list
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-outline-primary">
                Create new Product
            </a>
            <p>
            </p>
        </div>
    </div>

<table id="tblData" class="table table-bordered" style="width: 100%;">
    <thead>
        <tr class="table-active">
            <th>Title</th>
            <th>ISBN</th>
            <th>Author</th>
            <th>Category</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script src="~/js/Product.js"></script>
}