/.vscode
/eshopstudying.dataaccess/obj
/eshopstudying.dataaccess/bin
/eshopstudying/obj
/eshopstudying/bin
/eshopstudying.Models/obj
/eshopstudying.Models/bin
/eshopstudying.utility/obj
/eshopstudying.utility/bin