@model int

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order placed successfuly!</h1>
        Your order number is: @Model <br /><br />
    </div>
    <div class="col-12 text-center" style="color: maroon;">
        <br />
        Your order has been placed successfuly! <br />
    </div>
</div>
